doctype html
html
  head
    title Formulaire de connection 
    script(src='/javascripts/main.js')
  body
    h1 Formulaire d'Inscription
    form(action="connection", method="post" )
      
      label(for="email") Email :
      input(type="email", name="email", required)
      br
      label(for="motdepasse") Mot de passe :
      input(type="password", name="password", required)
      br
     
      button(type="submit") Se connecter 
    p #{error}
    