<form action="/inscription" class="formInscription">
    <label for="login" >Nom</label>
    <br>
    <input type="text" name="nom">
    <br>
    <label for="login">Prénom</label>
    <br>
    <input type="text" name="prenom">
    <br>
    <label for="login">login</label>
    <br>
    <input type="text" name="login">
    <br>
    <label for="password">password</label>
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit" value="s'inscrire" class="validerInscription">
</form>