doctype html
html
  head
    title Formulaire de contact
  body
    h1 Formulaire de contact
    form(action="/users/submit", method="POST")
      label(for="nom") Nom:
      input(type="text", name="nom", id="nom", required)
      br
      label(for="prenom") Prénom:
      input(type="text", name="prenom", id="prenom", required)
      br
      label(for="password") password:
      input(type="text", name="password", id="password", required)
      br
      label(for="email") Email:
      input(type="email", name="email", id="email", required)
      br
      label(for="message") Message:
      textarea(name="message", id="message", required)
      br
      input(type="submit", value="Envoyer")
